<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Handboek Optimum</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Handboek Optimum</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-79fe6c670f4942cd90759a5dec603424.png" alt="Handboek Optimum" usemap="#id-79fe6c670f4942cd90759a5dec603424map"/>
			   <map name="id-79fe6c670f4942cd90759a5dec603424map">
				  		<area shape="rect" coords="832,448,954,536" href="../views/id-63d48b71a181426086c4543457aa8d52.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,361,954,449" href="../views/id-8507603bfedf431898ef0d642420ffc3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,568,954,656" href="../views/id-81a72441543a4383b3acee74afb224a3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,655,954,743" href="../views/id-6592890777c24b22bf43057c079399c7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="825,742,833,830" href="../objects/id-6a9d1039b1444fd3a2bfd9ecd0174086.html" target="element" >
				          <area shape="rect" coords="825,655,833,743" href="../objects/id-2c7c12c0ec5e43d58a2c45eec3c1a50a.html" target="element" >
				          <area shape="rect" coords="825,274,833,536" href="../objects/id-d09be3f03c324ff987a99b31628298e8.html" target="element" >
				          <area shape="rect" coords="825,154,833,242" href="../objects/id-e27ecb0a466244ee8956daf3fefcd3b4.html" target="element" >
				          <area shape="rect" coords="825,67,833,155" href="../objects/id-1b5576d7e58f48ffbb808de01f0471dd.html" target="element" >
				          <area shape="rect" coords="825,568,833,656" href="../objects/id-efc377eb8ead4eeea69a18b0444f363f.html" target="element" >
				  		<area shape="rect" coords="832,67,954,155" href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="832,67,954,155" href="../objects/id-065f2f34a358468cb8d9f211b41befc4.html" target="element" >
				          <area shape="rect" coords="832,448,954,536" href="../objects/id-c3ff1cbcd7724365a823152a4d585121.html" target="element" >
				  		<area shape="rect" coords="832,742,954,830" href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,274,954,362" href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="832,742,954,830" href="../objects/id-da5a369a2a944e4983c02daadb97de89.html" target="element" >
				          <area shape="rect" coords="832,655,954,743" href="../objects/id-e2c875e4cca142df94fe8eb6a50c8a5f.html" target="element" >
				          <area shape="rect" coords="832,568,954,656" href="../objects/id-27dd977f8c7f4b32b9260de8a354ca00.html" target="element" >
				  		<area shape="rect" coords="832,154,954,242" href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="10,10,23,1078" href="../objects/id-57451ffa70bd4a438e9616a987e1b9ad.html" target="element" >
				          <area shape="rect" coords="832,361,954,449" href="../objects/id-3c7ba37740534a44a32c43cfacc54c36.html" target="element" >
				          <area shape="rect" coords="832,274,954,362" href="../objects/id-890b8b4254674d9fb28737bf66f65b7f.html" target="element" >
				          <area shape="rect" coords="832,154,954,242" href="../objects/id-533558aff86946a2878c56a2389dc057.html" target="element" >
				  						<area shape="rect" coords="520,150,785,358" href="../elements/id-e6838481e29248e68e22e804e7b5c43a.html"  target="element">
				  						<area shape="rect" coords="53,46,785,150" href="../elements/id-2a90130cb1944067a68e64afb6db0d22.html"  target="element">
				  						<area shape="rect" coords="53,357,785,455" href="../elements/id-1971b22403e44df492a1531e40ff3ab5.html"  target="element">
				  						<area shape="rect" coords="317,149,521,358" href="../elements/id-38cc335b37014b0f806f5b77c548cbce.html"  target="element">
				  						<area shape="rect" coords="53,149,317,357" href="../elements/id-2d6763f28c9643ec898f485ee8f7ff36.html"  target="element">

				  				<area shape="rect" coords="53,46,786,458" href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html"  target="element">
				  		        <area shape="rect" coords="294,1025,543,1066" href="../objects/id-07b79c613d944e73a605f1d26c0d0021.html" target="element" >
				  				<area shape="rect" coords="336,794,501,959" href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="58,958,779,1026" href="../objects/id-1a0b5a77ab144ba9818006affe1c56b4.html" target="element" >

				          <area shape="rect" coords="22,10,826,1078" href="../objects/id-1569e6a240dd4316bf9c600f48afc0d5.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1569e6a240dd4316bf9c600f48afc0d5.html" target="element"> Titel </a> </td>
									           <td> <a href="../objects/id-1569e6a240dd4316bf9c600f48afc0d5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1a0b5a77ab144ba9818006affe1c56b4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1a0b5a77ab144ba9818006affe1c56b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view"> Regie op verandering </a> </td>
													    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											        <tr>
											           <td> <a href="../objects/id-07b79c613d944e73a605f1d26c0d0021.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-07b79c613d944e73a605f1d26c0d0021.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
													    <td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2d6763f28c9643ec898f485ee8f7ff36.html" target="element"> Motivatie (Waarom?) </a> </td>
															    <td> <a href="../elements/id-2d6763f28c9643ec898f485ee8f7ff36.html" target="element" class="i18n-elementtype-Goal">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-38cc335b37014b0f806f5b77c548cbce.html" target="element"> Methode (Hoe?) </a> </td>
															    <td> <a href="../elements/id-38cc335b37014b0f806f5b77c548cbce.html" target="element" class="i18n-elementtype-CourseOfAction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1971b22403e44df492a1531e40ff3ab5.html" target="element"> Middelen (Waarmee?) </a> </td>
															    <td> <a href="../elements/id-1971b22403e44df492a1531e40ff3ab5.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2a90130cb1944067a68e64afb6db0d22.html" target="element"> Organisatie (Wie?) </a> </td>
															    <td> <a href="../elements/id-2a90130cb1944067a68e64afb6db0d22.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e6838481e29248e68e22e804e7b5c43a.html" target="element"> Resultaat (Wat?) </a> </td>
															    <td> <a href="../elements/id-e6838481e29248e68e22e804e7b5c43a.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-533558aff86946a2878c56a2389dc057.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-533558aff86946a2878c56a2389dc057.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-890b8b4254674d9fb28737bf66f65b7f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-890b8b4254674d9fb28737bf66f65b7f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3c7ba37740534a44a32c43cfacc54c36.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c7ba37740534a44a32c43cfacc54c36.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-57451ffa70bd4a438e9616a987e1b9ad.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-57451ffa70bd4a438e9616a987e1b9ad.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view"> Regie op verandering </a> </td>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-27dd977f8c7f4b32b9260de8a354ca00.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-27dd977f8c7f4b32b9260de8a354ca00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e2c875e4cca142df94fe8eb6a50c8a5f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e2c875e4cca142df94fe8eb6a50c8a5f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-da5a369a2a944e4983c02daadb97de89.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da5a369a2a944e4983c02daadb97de89.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view"> Optimum paradigma </a> </td>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view"> Modellenboek </a> </td>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-c3ff1cbcd7724365a823152a4d585121.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3ff1cbcd7724365a823152a4d585121.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-065f2f34a358468cb8d9f211b41befc4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-065f2f34a358468cb8d9f211b41befc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view"> Veerkrachtig systeem </a> </td>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-efc377eb8ead4eeea69a18b0444f363f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-efc377eb8ead4eeea69a18b0444f363f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1b5576d7e58f48ffbb808de01f0471dd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1b5576d7e58f48ffbb808de01f0471dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e27ecb0a466244ee8956daf3fefcd3b4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e27ecb0a466244ee8956daf3fefcd3b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d09be3f03c324ff987a99b31628298e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d09be3f03c324ff987a99b31628298e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2c7c12c0ec5e43d58a2c45eec3c1a50a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2c7c12c0ec5e43d58a2c45eec3c1a50a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6a9d1039b1444fd3a2bfd9ecd0174086.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6a9d1039b1444fd3a2bfd9ecd0174086.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view"> Referenties </a> </td>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view"> Standaarden </a> </td>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view"> Optimum CMMI </a> </td>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view"> Optimum EA </a> </td>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-44bc7d6fc18441ddba41c86c82cde7ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44bc7d6fc18441ddba41c86c82cde7ca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
																				<td> <a href="../elements/id-2d6763f28c9643ec898f485ee8f7ff36.html" target="element"> Motivatie (Waarom?) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-41b907787c2c4488b125d3ac9b4f25dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41b907787c2c4488b125d3ac9b4f25dd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
																				<td> <a href="../elements/id-38cc335b37014b0f806f5b77c548cbce.html" target="element"> Methode (Hoe?) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2089400bec454ac9b61739a9bbbddac7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2089400bec454ac9b61739a9bbbddac7.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
																				<td> <a href="../elements/id-e6838481e29248e68e22e804e7b5c43a.html" target="element"> Resultaat (Wat?) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-b7b0df6fc0da448bbf67246ee00e194e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b7b0df6fc0da448bbf67246ee00e194e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1971b22403e44df492a1531e40ff3ab5.html" target="element"> Middelen (Waarmee?) </a> </td>
																						<td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-b79e38a4ed0444acadcd373f39098509.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b79e38a4ed0444acadcd373f39098509.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2a90130cb1944067a68e64afb6db0d22.html" target="element"> Organisatie (Wie?) </a> </td>
																						<td> <a href="../elements/id-b7dba3377474425b8b90f1ac5f95acfb.html" target="element"> Capability </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>