<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Juridische Interoperabiliteit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Juridische Interoperabiliteit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aa232bd0d7da43dc86712d18052dbaad.png" alt="Juridische Interoperabiliteit" usemap="#id-aa232bd0d7da43dc86712d18052dbaadmap"/>
			   <map name="id-aa232bd0d7da43dc86712d18052dbaadmap">
				  		<area shape="rect" coords="820,448,942,536" href="../views/id-63d48b71a181426086c4543457aa8d52.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="820,361,942,449" href="../views/id-8507603bfedf431898ef0d642420ffc3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="820,568,942,656" href="../views/id-81a72441543a4383b3acee74afb224a3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="820,655,942,743" href="../views/id-6592890777c24b22bf43057c079399c7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="813,742,821,830" href="../objects/id-3624c5fa6e364e99a1b7944fb0d763a7.html" target="element" >
				          <area shape="rect" coords="813,655,821,743" href="../objects/id-d41d4af1be90440b9cc6f2cf9209ed9b.html" target="element" >
				          <area shape="rect" coords="813,274,821,536" href="../objects/id-5692271f87f74caebae68621f326ba16.html" target="element" >
				          <area shape="rect" coords="813,154,821,242" href="../objects/id-dc151930a5d6417a9155a7f1967746c1.html" target="element" >
				          <area shape="rect" coords="813,67,821,155" href="../objects/id-ca56dd14129a45e5be0f49871a14b58b.html" target="element" >
				          <area shape="rect" coords="813,568,821,656" href="../objects/id-71358f8140bf41dba6dd5bb1b901a23f.html" target="element" >
				  		<area shape="rect" coords="820,67,942,155" href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="820,67,942,155" href="../objects/id-98246580c0b1483d93bb1967f06b1bf5.html" target="element" >
				          <area shape="rect" coords="820,448,942,536" href="../objects/id-0ca42f16ecaa440691a74c489cca21de.html" target="element" >
				  		<area shape="rect" coords="820,742,942,830" href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="820,274,942,362" href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="820,742,942,830" href="../objects/id-add0bc8547434b83abff5d41ec4746a3.html" target="element" >
				          <area shape="rect" coords="820,655,942,743" href="../objects/id-d6d105610d0742d295fd21237f283f5b.html" target="element" >
				          <area shape="rect" coords="820,568,942,656" href="../objects/id-02807e6dd90c473c96ddc6fa37aaaf82.html" target="element" >
				  		<area shape="rect" coords="820,154,942,242" href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="820,361,942,449" href="../objects/id-5fd73af277284d5885885ccfc2f2a95e.html" target="element" >
				          <area shape="rect" coords="820,274,942,362" href="../objects/id-f2648841065148b7b6c195605c617d29.html" target="element" >
				          <area shape="rect" coords="820,154,942,242" href="../objects/id-832f25989a2b450eaf000fbdaa3ac647.html" target="element" >
				  				<area shape="rect" coords="58,742,790,797" href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="58,676,790,731" href="../views/id-3fab70787093489b813a70988021084e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="58,544,790,599" href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="58,610,790,665" href="../views/id-de8566f11a4f4b7996d066085548916b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  						<area shape="rect" coords="118,382,695,437" href="../elements/id-c5005a645d43413d91e176c561197d02.html"  target="element">
				  						<area shape="rect" coords="118,310,695,365" href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html"  target="element">
				  						<area shape="rect" coords="118,238,695,293" href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html"  target="element">
				  						<area shape="rect" coords="118,166,695,221" href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html"  target="element">

				  				<area shape="rect" coords="106,130,707,455" href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html"  target="element">
				  				<area shape="rect" coords="10,1042,815,1074" href="../views/id-79fe6c670f4942cd90759a5dec603424.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,10,814,1078" href="../objects/id-04785c66a69b4bd7a552f3f0eeca60e7.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Juridische interoperabiliteit gaat over het garanderen dat entiteiten die onder verschillende wettelijke kaders, beleidsmaatregelen en strategie&#235;n opereren, kunnen samenwerken. </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-04785c66a69b4bd7a552f3f0eeca60e7.html" target="element"> Titel </a> </td>
									           <td> <a href="../objects/id-04785c66a69b4bd7a552f3f0eeca60e7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-79fe6c670f4942cd90759a5dec603424.html" target="view"> Handboek Optimum </a> </td>
													    <td> <a href="../views/id-79fe6c670f4942cd90759a5dec603424.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
													    <td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element"> Juridische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element"> Organisatorische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element"> Semantische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element"> Technische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../views/id-de8566f11a4f4b7996d066085548916b.html" target="view"> Organisatorische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-de8566f11a4f4b7996d066085548916b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html" target="view"> Juridische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3fab70787093489b813a70988021084e.html" target="view"> Semantische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-3fab70787093489b813a70988021084e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html" target="view"> Technische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-832f25989a2b450eaf000fbdaa3ac647.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-832f25989a2b450eaf000fbdaa3ac647.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f2648841065148b7b6c195605c617d29.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f2648841065148b7b6c195605c617d29.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5fd73af277284d5885885ccfc2f2a95e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5fd73af277284d5885885ccfc2f2a95e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view"> Regie op verandering </a> </td>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-02807e6dd90c473c96ddc6fa37aaaf82.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-02807e6dd90c473c96ddc6fa37aaaf82.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d6d105610d0742d295fd21237f283f5b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d6d105610d0742d295fd21237f283f5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-add0bc8547434b83abff5d41ec4746a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-add0bc8547434b83abff5d41ec4746a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view"> Optimum paradigma </a> </td>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view"> Modellenboek </a> </td>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-0ca42f16ecaa440691a74c489cca21de.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0ca42f16ecaa440691a74c489cca21de.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-98246580c0b1483d93bb1967f06b1bf5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-98246580c0b1483d93bb1967f06b1bf5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view"> Veerkrachtig systeem </a> </td>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-71358f8140bf41dba6dd5bb1b901a23f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-71358f8140bf41dba6dd5bb1b901a23f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ca56dd14129a45e5be0f49871a14b58b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ca56dd14129a45e5be0f49871a14b58b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-dc151930a5d6417a9155a7f1967746c1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dc151930a5d6417a9155a7f1967746c1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5692271f87f74caebae68621f326ba16.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5692271f87f74caebae68621f326ba16.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d41d4af1be90440b9cc6f2cf9209ed9b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d41d4af1be90440b9cc6f2cf9209ed9b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3624c5fa6e364e99a1b7944fb0d763a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3624c5fa6e364e99a1b7944fb0d763a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view"> Referenties </a> </td>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view"> Standaarden </a> </td>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view"> Optimum CMMI </a> </td>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view"> Optimum EA </a> </td>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																			<tr>
																				<td> <a href="../elements/id-d9ed785664004bd5b4ac872bfc3d50b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9ed785664004bd5b4ac872bfc3d50b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element"> Juridische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cee321fde499434fb4bfa158fc6d6f93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cee321fde499434fb4bfa158fc6d6f93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element"> Organisatorische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aeeac7ea572e4b38b321417c9b60ffce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aeeac7ea572e4b38b321417c9b60ffce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element"> Technische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8347421a32f41a19f6854e2b1a4da6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8347421a32f41a19f6854e2b1a4da6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element"> Semantische Interoperabiliteit </a> </td>
																			</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>