<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperabiliteitsstandaarden</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperabiliteitsstandaarden</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f3802a7d79824622bc911c247186ac62.png" alt="Interoperabiliteitsstandaarden" usemap="#id-f3802a7d79824622bc911c247186ac62map"/>
			   <map name="id-f3802a7d79824622bc911c247186ac62map">
				  		<area shape="rect" coords="832,448,954,536" href="../views/id-63d48b71a181426086c4543457aa8d52.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,361,954,449" href="../views/id-8507603bfedf431898ef0d642420ffc3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,568,954,656" href="../views/id-81a72441543a4383b3acee74afb224a3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,655,954,743" href="../views/id-6592890777c24b22bf43057c079399c7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="825,742,833,830" href="../objects/id-e032e8ec0b614e83be59a41715f5d379.html" target="element" >
				          <area shape="rect" coords="825,655,833,743" href="../objects/id-156ce39d89f44e0c842f9c75022690fa.html" target="element" >
				          <area shape="rect" coords="825,274,833,536" href="../objects/id-ade702f0e7bd441ba094d922b2ef0f8b.html" target="element" >
				          <area shape="rect" coords="825,154,833,242" href="../objects/id-52b52dc595c0468ba581b4edb3a847c5.html" target="element" >
				          <area shape="rect" coords="825,67,833,155" href="../objects/id-e131de23cf5c43e9a7000e67592c6f84.html" target="element" >
				          <area shape="rect" coords="825,568,833,656" href="../objects/id-521df4178a3e4f0aa40fadb450905ee3.html" target="element" >
				  		<area shape="rect" coords="832,67,954,155" href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="832,67,954,155" href="../objects/id-d908bb423a4943e19cc7e4ed6fd894de.html" target="element" >
				          <area shape="rect" coords="832,448,954,536" href="../objects/id-5ea3aca5185f45c990480fc6e4a74311.html" target="element" >
				  		<area shape="rect" coords="832,742,954,830" href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="832,274,954,362" href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="832,742,954,830" href="../objects/id-216d90fa7ef1439293fd965719c8296b.html" target="element" >
				          <area shape="rect" coords="832,655,954,743" href="../objects/id-348a7088ee294c6dbbd326216b61c452.html" target="element" >
				          <area shape="rect" coords="832,568,954,656" href="../objects/id-f241e039a9c24485adc4f5aaba1432e6.html" target="element" >
				  		<area shape="rect" coords="832,154,954,242" href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="10,10,23,1078" href="../objects/id-c1e90f7915044203b5b1ae0a3f21423b.html" target="element" >
				          <area shape="rect" coords="832,361,954,449" href="../objects/id-209a81df549643bba9f33fa3594e2d0d.html" target="element" >
				          <area shape="rect" coords="832,274,954,362" href="../objects/id-82f118863c2b4b76895aff7b6f0f1a83.html" target="element" >
				          <area shape="rect" coords="832,154,954,242" href="../objects/id-c63e257bfbd1453f9b84093e919a684e.html" target="element" >
				  				<area shape="rect" coords="70,742,802,797" href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="70,676,802,731" href="../views/id-3fab70787093489b813a70988021084e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="70,544,802,599" href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="70,610,802,665" href="../views/id-de8566f11a4f4b7996d066085548916b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  						<area shape="rect" coords="130,382,707,437" href="../elements/id-c5005a645d43413d91e176c561197d02.html"  target="element">
				  						<area shape="rect" coords="130,310,707,365" href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html"  target="element">
				  						<area shape="rect" coords="130,238,707,293" href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html"  target="element">
				  						<area shape="rect" coords="130,166,707,221" href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html"  target="element">

				  				<area shape="rect" coords="118,130,719,455" href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html"  target="element">
				  				<area shape="rect" coords="22,1042,827,1074" href="../views/id-79fe6c670f4942cd90759a5dec603424.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="22,10,826,1078" href="../objects/id-f098219b282348aa8ae2ba0cdd5032db.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Producten, systemen of organisaties zijn interoperabel als ze zonder beperkingen samen kunnen werken. De term wordt vaak gebruikt in de IT (daar ook wel compatibiliteit genoemd), bij de spoorwegen, de medische sector en bij overheidsorganisaties bij onderlinge samenwerking en bij samenwerking met het bedrijfsleven, maatschappelijke organisaties en burgers.

Voor interoperabiliteit van entiteiten zijn standaarden, protocollen en procedures nodig voor de wederzijdse afstemming van de entiteiten. Bij fysieke entiteiten, zoals producten, apparaten en communicatiemiddelen, impliceert interoperabiliteit ook dat de gebruiker geen speciale moeite hoeft te doen om de entiteit interoperabel te laten zijn.

Interoperabiliteit is noodzakelijk als de samenwerking van entiteiten noodzakelijk is en als de entiteiten autonoom of heterogeen zijn. Netwerken zijn daar een voorbeeld van. Zonder interoperabiliteit functioneert een netwerk niet.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f098219b282348aa8ae2ba0cdd5032db.html" target="element"> Titel </a> </td>
									           <td> <a href="../objects/id-f098219b282348aa8ae2ba0cdd5032db.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-79fe6c670f4942cd90759a5dec603424.html" target="view"> Handboek Optimum </a> </td>
													    <td> <a href="../views/id-79fe6c670f4942cd90759a5dec603424.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
													    <td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element"> Juridische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element"> Organisatorische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element"> Semantische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element"> Technische Interoperabiliteit </a> </td>
															    <td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../views/id-de8566f11a4f4b7996d066085548916b.html" target="view"> Organisatorische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-de8566f11a4f4b7996d066085548916b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html" target="view"> Juridische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-aa232bd0d7da43dc86712d18052dbaad.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3fab70787093489b813a70988021084e.html" target="view"> Semantische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-3fab70787093489b813a70988021084e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html" target="view"> Technische Interoperabiliteit </a> </td>
													    <td> <a href="../views/id-7dd981956dfb4c0b9185a7c6eb05b247.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-c63e257bfbd1453f9b84093e919a684e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c63e257bfbd1453f9b84093e919a684e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-82f118863c2b4b76895aff7b6f0f1a83.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-82f118863c2b4b76895aff7b6f0f1a83.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-209a81df549643bba9f33fa3594e2d0d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-209a81df549643bba9f33fa3594e2d0d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c1e90f7915044203b5b1ae0a3f21423b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c1e90f7915044203b5b1ae0a3f21423b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view"> Regie op verandering </a> </td>
											    <td> <a href="../views/id-089dd1204fbe4e4a8210182b6606ae5b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-f241e039a9c24485adc4f5aaba1432e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f241e039a9c24485adc4f5aaba1432e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-348a7088ee294c6dbbd326216b61c452.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-348a7088ee294c6dbbd326216b61c452.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-216d90fa7ef1439293fd965719c8296b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-216d90fa7ef1439293fd965719c8296b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view"> Optimum paradigma </a> </td>
											    <td> <a href="../views/id-f5630a72e4d54ff6b13c51f7760b6bc7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view"> Modellenboek </a> </td>
											    <td> <a href="../views/id-1b4c2622739144aba54bc58f8073a4b7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-5ea3aca5185f45c990480fc6e4a74311.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5ea3aca5185f45c990480fc6e4a74311.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d908bb423a4943e19cc7e4ed6fd894de.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d908bb423a4943e19cc7e4ed6fd894de.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view"> Veerkrachtig systeem </a> </td>
											    <td> <a href="../views/id-588cd4170d184b5a9ea4d42eb729578b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-521df4178a3e4f0aa40fadb450905ee3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-521df4178a3e4f0aa40fadb450905ee3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e131de23cf5c43e9a7000e67592c6f84.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e131de23cf5c43e9a7000e67592c6f84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-52b52dc595c0468ba581b4edb3a847c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-52b52dc595c0468ba581b4edb3a847c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ade702f0e7bd441ba094d922b2ef0f8b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ade702f0e7bd441ba094d922b2ef0f8b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-156ce39d89f44e0c842f9c75022690fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-156ce39d89f44e0c842f9c75022690fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e032e8ec0b614e83be59a41715f5d379.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e032e8ec0b614e83be59a41715f5d379.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view"> Referenties </a> </td>
											    <td> <a href="../views/id-6592890777c24b22bf43057c079399c7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view"> Standaarden </a> </td>
											    <td> <a href="../views/id-81a72441543a4383b3acee74afb224a3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view"> Optimum CMMI </a> </td>
											    <td> <a href="../views/id-8507603bfedf431898ef0d642420ffc3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view"> Optimum EA </a> </td>
											    <td> <a href="../views/id-63d48b71a181426086c4543457aa8d52.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																			<tr>
																				<td> <a href="../elements/id-cee321fde499434fb4bfa158fc6d6f93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cee321fde499434fb4bfa158fc6d6f93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c9b1ee6b9fde4a7396d0c1fe1ea7c75a.html" target="element"> Organisatorische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aeeac7ea572e4b38b321417c9b60ffce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aeeac7ea572e4b38b321417c9b60ffce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c5005a645d43413d91e176c561197d02.html" target="element"> Technische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8347421a32f41a19f6854e2b1a4da6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8347421a32f41a19f6854e2b1a4da6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-e9aeed947955472b8d9427e486e5bbc7.html" target="element"> Semantische Interoperabiliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d9ed785664004bd5b4ac872bfc3d50b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9ed785664004bd5b4ac872bfc3d50b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3cd2e7d57bf4d1f99c51862b4d75e03.html" target="element"> Interoperabiliteit </a> </td>
																				<td> <a href="../elements/id-c53df05ffa1345598bf89eb5a7a49c27.html" target="element"> Juridische Interoperabiliteit </a> </td>
																			</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>